.mt-row {
    .mt-cat {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        .title {
            height: map-get($map: $font-sizes, $key: "md");
            color: map-get($map: $eliteColors, $key: "lightorange");
            font-size: map-get($map: $font-sizes, $key: "md");
            font-weight: map-get($map: $font-weights, $key: "bolder");
            white-space: nowrap;
        }
        .line {
            width: 100%;
            height: 1rem;
            border-bottom: .5rem solid map-get($map: $eliteColors, $key: "darkorange");
        }
    }
    .mt-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        margin: 1rem 0;
    }
}

.mt {
    border: .25rem solid map-get($map: $eliteColors, $key: "darkorange");
    color: map-get($map: $eliteColors, $key: "lightorange");
    padding: .25rem .3rem;

}

.mt-grade {

    height: 5rem;
    width: 5rem;
    background-color: map-get($map: $eliteColors, $key: "lightorange");
}

.mt-box {
    width: 15rem;
    height: 10rem;
    display: grid;
    grid-template-rows: 1% 65% 34%;
    align-items: center;
    justify-items: center;
    background-color: map-get($map: $eliteColors, $key: "darkerorange");
}

.mt-top {
    background-color: transparent;
    margin-top: 2rem;
    padding: .3rem .4rem;
    display: flex;
    width: 100%;  
    justify-content: space-between;  
    .mt-max {
        padding: .3rem .4rem;
        background-color: transparent;
        color: white;
        font-size: map-get($map: $font-sizes, $key: "sd");
        font-weight: map-get($map: $font-weights, $key: "regular");
        span {
            letter-spacing: .05rem;
            background-color: transparent;
        }
        z-index: 1;
        text-shadow: 1px solid black;
    }
    .mt-info {
        background-color: white;
        width: 2rem;
        height: 2rem;
        mask: url(/info.svg) no-repeat center;
        -webkit-mask: url(/info.svg) no-repeat center;
        transition: .25s all ease;
        &:hover {
            background-color: map-get($map: $colors, $key: "darkgray");
        }
    }
}
.mt-text {
    width: 100%;
    height: 100%;
    background-color: map-get($map: $eliteColors, $key: "darkorange");
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    font-size: map-get($map: $font-sizes, $key: "sd");
    font-weight: map-get($map: $font-weights, $key: "bold");
}

.mt-active {
    background-color: darken(map-get($map: $eliteColors, $key: "lightorange"), 10%);
    color: black;
    
    & .mt-text {
        background-color: map-get($map: $eliteColors, $key: "lightorange");
    }
    & .mt-grade {
      background-color: black;  
    }
}

.mt-modal {
    width: 15rem;
    height: 10rem;
    background-color: transparent;
    position: absolute;
    margin-top: -10rem;
    
    .mt-button {
        background-color: transparent;
        -webkit-user-select: none;
        -ms-user-select: none; 
        user-select: none;
    }
    .mt-convert {
      font-size: map-get($map: $font-sizes, $key: "xxl");  
      color: black;
      background: transparent;
      justify-self: center;
      align-self: center;
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none;
    }
}
.mt-orange {
    background-color: rgba(map-get($map: $colors, $key: "darkorange"), .65);
    
    .mt-button {
        display: none;
    }
}

.mt-blue {
    .mt-button {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: map-get($map: $font-sizes, $key: "xxl");
        z-index: 2;
        cursor: pointer;
        background-color: rgba(darken(map-get($map: $colors, $key: "darkblue"), 30%),.95);
    }
    grid-template-columns: 20% 60% 20%;
    background-color: rgba(map-get($map: $colors, $key: "darkblue"), .8);
}

.mt-gray {
    background-color: rgba(map-get($map: $colors, $key: "darkgray"), .80);
    
    .mt-button {
        display: none;
    }
}

.mt-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
