
@each $name, $color in $type {
    
    .tt-#{$name} {
        background-color: $color;
        border: 1px solid black;
        .tooltip-title::before {
            content: '#{map-get($map: $tooltips, $key: $name)}';
        }
    }
}

